/* 초기화 스타일 css */

* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.clearfix::after{content:""; display:block; clear:both;}

ul{
    list-style: none;
}
@font-face{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 200;
    src: url(../font/sf-pro-display_light.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url(../font/sf-pro-display_regular.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Display";
    font-style:normal;
    font-weight: 500;
    src: url(../font/sf-pro-display_medium.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Display";
    font-style:normal;
    font-weight: 600;
    src: url(../font/sf-pro-display_semibold.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    src: url(../font/sf-pro-display_bold.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro KR";
    font-style: normal;
    font-weight: 200;
    src: url(../font/SFProKRDisplay_light.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro KR";
    font-style: normal;
    font-weight: 400;
    src: url(../font/SFProKRDisplay_regular.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro KR";
    font-style:normal;
    font-weight: 600;
    src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro KR";
    font-style:normal;
    font-weight: 800;
    src: url(../font/SFProKRDisplay_bold.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Text";
    font-style:normal;
    font-weight: 400;
    src: url(../font/sf-pro-text_regular.woff2) format('woff2');
}

@font-face{
    font-family: "SF Pro Text";
    font-style:normal;
    font-weight: 600;
    src: url(../font/sf-pro-text_semibold.woff2) format('woff2');
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */

body {
    color: rgb(29, 29, 31);
}



/* 요소 스타일 */
/* type 스타일 */
h1 {}

h2 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    line-height: 66px;
    -webkit-font-smoothing:antialiased;
}

h3 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 31px;
}

h4 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 44px;
}

h5 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

h6 {}

p {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16.8px;
}

.p_large_17 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
}

.font_weight_600{
    font-weight: 600;
}

/* 정렬스타일 */

.text_align_center {
    text-align: center;
}


/* 링크스타일 */

a:link {
    text-decoration: none;
    color: #2997ff;
}

a:hover {
    text-decoration: underline;
    color: #2997ff;
}

a:active {
    text-decoration: none;
    color: #2997ff;
}

a:visited {
    text-decoration: none;
    color: #2997ff;
}

/* 컬러 */

.color_gray_134 {
    color: rgb(134, 134, 139);
}

.bg_color_white {
    background-color: white;
}

.bg_color_dark {
    background-color: rgb(19, 19, 19);
}

.bg_color_deep_dark {
    background-color: rgb(0, 0, 0);
}

.bg_color_gray {
    background-color: rgb(250, 250, 250);
}

.bg_color_dark_gray {
    background-color: rgb(242, 242, 242);
}

.color_white_245 {
    color: rgb(245, 245, 247);
}

.color_dark {
    color: rgb(29, 29, 31)
}

.color_gray_29 {
    color: rgb(29, 29, 31);
}

/* 헤더 */

/* gnb 스타일 */

#gnb {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav_menu {
    list-style: none;
    display: flex;
    height: 44px;
    max-width: 980px;
    margin:0 auto;
    padding: 0;
    justify-content: space-between;
}

.nav_menu_item {
    /* margin: 0 0 0 70px; */
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 44px;
    color: rgb(245, 245, 247);
    padding: 0 6px;
    opacity: 0.8;
}

.nav_menu a:link {
    text-decoration: none;
}

.nav_menu_item:hover { text-decoration: none; opacity: 1;}

.nav_menu_logo {
    line-height: 44px;
}

/* .nav_menu a:last-child {
    display: none;
} */

/* LNB */

.lnb_menu { display: flex;}

.lnb_menu a { text-align: center;}

.lnb_menu img { width: 52px;}

.lnb_menu span {width: 100%;
display: block;
text-align: center;}



/* 풋터 */

footer{
    background-color: rgb(245, 245, 247);
}

.footer_wrap {
    max-width: 1000px; 
    padding: 0 10px;
    margin: 0 auto;
}

.footer_note {
    padding: 17px 0 11px;
    border-bottom: 1px solid #d2d2d7;
    color: rgb(134,134,130);
}

.footer_menu {
    display: flex;
    padding: 20px 0;
}

.footer_menu_column{
    width: 196px;
}

.footer_menu_group{
    list-style: none;
    padding: 0;
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: rgb(81, 81, 84s);
}

.footer_menu_item{
    margin: 0 0 6.8px;
}

.footer_contact{
    border-bottom: 1px solid rgb(210, 210, 215);
    padding: 0 0 7px;
    margin: 0 0 8px;
    color: rgb(134, 134, 139);
}

.footer_copyright{
    margin: 5px 0px;
    color: rgb(134, 134, 139);
}

.footer_copyright_wrap{
    display: flex;
    justify-content: space-between;
}

.footer_address{
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: 14.667px;
    color: rgb(134, 134, 139);
    padding: 0 0 20px;
}

.footer_menu_group li:first-child span {
    display: none;
}

.footer_menu_group li {
    margin: 0 0 6.8px;
    color: rgb(134, 134, 139);
}

.footer_menu_group li:first-child {
    font-weight: 600;
    color: rgb(29, 29, 31);
}

.footer_menu_group a {
    color: rgb(134, 134, 139);
}

.footer_menu_group a:hover{
    color:rgb(81, 81, 84);
}

.footer_copyright a {
    color: rgb(134, 134, 139);
    padding: 0 12px 0;
    border-right: 1px solid rgb(134, 134, 139);
}

.footer_copyright a:hover{
    color:rgb(29, 29, 31);
}

.footer_copyright_wrap .footer_global a{
    margin: 5px 0px;
    color: rgb(134, 134, 139);
}

.footer_copyright_wrap .footer_global a:hover{
    color:rgb(29, 29, 31);
}



/* 모바일 CSS*/
/* 
@media screen and (max-width:767px) {

    .nav_menu {
        width: 200px;
        padding: 0 20px;
    }


    .nav_menu a { display: none;}


    .nav_menu a:first-child {
        display: block;
    }


    .nav_menu a:last-child{
        display: block;
    }


} */

#gnb_m {
    display: none;
}


@media screen and (max-width:767px)
{
    #gnb{ display: none;}

    #gnb_m {
    display: block;
    }

.nav_menu_m {
    list-style: none;
    display: flex;
    height: 44px;
    max-width: 600px;
    margin:0 auto;
    padding:0 16px;
    justify-content: space-between;
}

.nav_menu_m li:last-child{
    padding: 0 0 0 0;
}

.nav_menu_m_item {
    /* margin: 0 0 0 70px; */
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 44px;
    color: rgb(245, 245, 247);
    padding: 0 6px;
    opacity: 0.8;
    align-items: center;
    justify-content: space-between;
}

.nav_menu_m a:link {
    text-decoration: none;
}

.nav_menu_m_item:hover { text-decoration: none; opacity: 1;}

.nav_menu_m_logo {
    line-height: 44px; opacity: 0.8;
}


.nav_menu_m_item a span {
    border-top: 1px solid white;
    width: 17px;
    height: 2px;
    display: block;
}


/* 2줄 */

/* .nav_menu_m_item a span:first-child {
    margin: 17px 0 0 0;
    transform-origin: 50% 50%;
} 

.nav_menu_m_item a span:last-child {
    margin: 4px 0 0 0px;
    transform-origin: 50% 50%;
}

.nav_menu_m_button:hover span:first-child {
    transform: rotate(45deg);
    margin: 19px 0 0 0;
    transform-origin: 50% 50%;
    transition: 0.2s;
}

.nav_menu_m_button:hover span:last-child {
    transform: rotate(-45deg);
    margin: -3.5px 0 0 1px;
    transform-origin: 50% 50%;
    transition: 0.2s;
} */

/* 3줄 */

.nav_menu_m_button{
    width: 30px;
    height: 44px;
    display: block;
}

.nav_menu_m_button span:first-child {
    margin: 16px 0 0 0;
}

.nav_menu_m_button span:nth-child(2){
    margin: 2px 0 0 0;
}

.nav_menu_m_button span:last-child {
    margin: 2px 0 0 0;
}

.nav_menu_m_button:hover span:first-child {
    transform: rotate(45deg);
    margin: 19px 0 0 0;
    transform-origin: 50% 50%;
    transition: 0.1s;
}

.nav_menu_m_button:hover span:nth-child(2){
    display: none;
    transition: 0.1s;
}

.nav_menu_m_button:hover span:last-child {
    transform: rotate(-45deg);
    margin: -3.5px 0 0 1px;
    transform-origin: 50% 50%;
    transition: 0.1s;
}

.footer_wrap {
    width: 100%; 
    padding: 0 10px;
    margin: 0 auto;
}

h3 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
}

h2 {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    line-height: 60px;
    -webkit-font-smoothing:antialiased;
}

p {
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
}


footer{
    background-color: rgb(245, 245, 247);
}

.footer_wrap {
    width: 100%; 
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer_note {
    padding: 17px 0 11px;
    border-bottom: 1px solid #d2d2d7;
    color: rgb(134,134,130);
    word-break: keep-all;
}

.footer_menu {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
}

.footer_menu_column{
    width: 100%;
}

.footer_menu_group{
    list-style: none;
    padding: 0;
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    color: rgb(81, 81, 84s);
    height: 10px;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(134,134,139, 0.2);
}

.footer_menu_item{
    margin: 0 0 6.8px;
}

.footer_contact{
    border-bottom: 1px solid rgb(210, 210, 215);
    padding: 0 0 7px;
    margin: 0 0 8px;
    color: rgb(134, 134, 139);
    word-break: keep-all;
}

.footer_copyright{
    margin: 5px 0px;
    color: rgb(134, 134, 139);
}

.footer_copyright_wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}


.footer_address{
    font-family: 'SF Pro Display', 'SF Pro KR', 'SF Pro Text', sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: 14.667px;
    color: rgb(134, 134, 139);
    padding: 0 0 20px;
}

.footer_menu_group li:first-child span {
    display: block;
}

.footer_menu_group li {
    margin: 0 0 6.8px;
    color: rgb(134, 134, 139);
}

.footer_menu_group li:first-child {
    font-weight: 600;
    color: rgb(81, 81, 84);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.footer_menu_group a {
    color: rgb(134, 134, 139);
}

.footer_menu_group a:hover{
    color:rgb(81, 81, 84);
}

.footer_copyright a {
    color: rgb(134, 134, 139);
    padding: 0 12px 0 0;
    border-right: 1px solid rgb(134, 134, 139);
    margin: 0 12px 0 0;
}

.footer_copyright a:hover{
    color:rgb(29, 29, 31);
}

.footer_copyright_wrap .footer_global a{
    margin: 5px 0px;
    color: rgb(134, 134, 139);
}

.footer_copyright_wrap .footer_global a:hover{
    color:rgb(29, 29, 31);
}


.footer_copyright_wrap span {
    margin: 0 0 5px 0;
    display: block;
}

.footer_address span {
    display: block;
}

}


/* css selector 연습 */

/* #gnb ul li {
    border: 1px solid red;
} */
/* 
#gnb .nav_menu_logo {
    border: 1px solid red;
} */

/* 직계자손만 */

/* #gnb > ul {
    border: 1px solid red;
} */

/* #gnb a:nth-child(){
    border: 1px solid red;
} */
/* 
#gnb + .nav_menu{
    border: 1px solid red;
} */
